body {
    background-image: url('../img/bg.png');
}

@font-face {
    font-family: Computerfont;
    src: url('../fonts/Computerfont.ttf');
}

h1, h4 {
    font-family: computerFont;
}

.nav-link {
    color: darkgrey;
}

canvas {
    z-index: 10;
}

#screenshot canvas {
    left: 0;
    top: 0;
}