body {
    background-image: url('../img/bg.png');
}

@font-face {
    font-family: Computerfont;
    src: url('../fonts/Computerfont.ttf');
}

h1, h4 {
    font-family: computerFont;
}

.nav-link {
    color: darkgrey;
}

canvas {
    z-index: 10;
}

#sites-canvas,#colors-canvas {
    left: 15px;
    top: 0;
}

#cam-view {
    left: 40px;
    top: 0;
}