{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center h-100">
	<div class="row h-25">
		<div class="col align-self-center">
			<h1 class="text-success">Solve-O-Matic!</h1>
		</div>
	</div>
	<div class="row h-50">
		<div class="col align-self-center">
			<h4 class="text-warning">Place your cube in the grippers...</h4>
		</div>
	</div>
	<div class="row align-self-center">
		<div class="col">
			<a class="btn btn-success" href="/scan">Scan</a>
		</div>
	</div>
	<div class="row">
		<div class="col text-left">
			<a class="btn btn-dark text-secondary" href="/settings">Settings</a>
		</div>
	</div>
</div>
{% endblock %}