{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center text-success h-100">
	<div class="row h-25">
		<div class="col align-self-center">
			<h1>Solve-O-Matic!</h1>
		</div>
	</div>
	<div class="row h-50">
		<div class="col align-self-center">
			<h4>Place your cube in the grippers...</h4>
		</div>
	</div>
	<div class="row align-self-center">
		<div class="col">
			<a class="btn btn-success" href="/scan">Scan</a>
		</div>
	</div>
	<div class="row">
		<div class="col text-right">
			<a class="btn btn-secondary" href="/settings">Settings</a>
		</div>
	</div>
</div>
{% endblock %}