{% extends "base.html" %}

{% block content %}
<!-- Page specific JavaScript -->
<script src="static/js/scan.js"></script>

<div class="container-fluid text-center h-100">
	<div class="row">
		<div class="col">
			<video autoplay></video>
			<canvas class="d-none"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="btn btn-info" id="capture-button">Capture</button>
			<button class="btn btn-primary" id="screenshot-button">Screenshot</button>
		</div>
	</div>
</div>
<script
{% endblock %}