{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
	<div class="card bg-secondary h-100">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs bg-dark">
				<li class="nav-item">
					<a class="nav-link active" id="sites-tab" data-toggle="tab" href="#sites">Sites</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="calibrate-tab" data-toggle="tab" href="#calibrate">Calibrate</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="save-tab" data-toggle="tab" href="#save">Done</a>
				</li>
			</ul>
		</div>
		<div class="card-body p-1">
			<div class="tab-content">
				<div class="container-fluid tab-pane show active" id="sites">
					<div class="row">
						<div class="col-6">
							<div class="text-light text-center my-2">Gripper A</div>
							<div class="btn-group my-2">
								<button type="button" class="btn btn-info">Open</button>
								<button type="button" class="btn btn-info">Close</button>
								<button type="button" class="btn btn-info">Load</button>
							</div>
							<div class="btn-group my-2">
								<button type="button" class="btn btn-info">Twist CW</button>
								<button type="button" class="btn btn-info">Twist CCW</button>
							</div>
						</div>
						<div class="col-6">
							<div class="text-light text-center my-2">Gripper B</div>
						</div>
					</div>
				</div>
				<div class="container-fluid tab-pane" id="calibrate">
					<table class="table table-sm table-borderless text-center">
						<tr>
							<td colspan="4"><h4 class="text-warning">Gripper A</h4></th>
							<td colspan="4"><h4 class="text-warning">Gripper B</h4></th>
						</tr>
						<tr>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-a-open">Open</button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-open-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-a-open-value">180</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-open-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-open-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-b-open-value">179</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-open-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-b-open">Open</button></td>
						</tr>
						<tr>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-a-load">Load</button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-load-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-a-load-value">150</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-load-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-load-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-b-load-value">148</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-load-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-b-load">Load</button></td>
						</tr>
						<tr>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-a-close">Close</button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-close-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-a-close-value">140</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-close-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-close-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-b-close-value">141</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-close-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-b-close">Close</button></td>
						</tr>
						<tr>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-a-ccw">CCW</button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-ccw-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-a-ccw-value">1</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-ccw-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-ccw-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-b-ccw-value">2</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-ccw-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-b-ccw">CCW</i></button></td>
						</tr>
						<tr>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-a-center">Center</button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-center-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-a-center-value">1</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-center-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-center-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-b-center-value">2</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-center-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-b-center">Center</button></td>
						</tr>
						<tr>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-a-cw">CW</button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-cw-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-a-cw-value">1</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-a-cw-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-cw-less"><i class="fa fa-caret-square-left"></i></button></td>
							<td class="align-middle p-0"><span class="text-warning" id="gripper-b-cw-value">2</span></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-outline-info" id="gripper-b-cw-more"><i class="fa fa-caret-square-right"></i></button></td>
							<td class="align-middle p-0"><button type="button" class="btn btn-sm btn-info btn-block" id="gripper-b-cw">CW</i></button></td>
						</tr>
					</table>
				</div>
				<div class="container-fluid tab-pane" id="save">
					<div class="row my-4">
						<div class="col text-center">
							<h4 class="text-warning">All settings saved!</h4>
						</div>
					</div>
					<div class="row my-4">
						<div class="col text-center">
							<a class="btn btn-warning" href="/index">Main Menu</a> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}