{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center text-success h-100">
	<div class="row align-self-center h-25">
		<div class="col">
			<h1>Solve-O-Matic!</h1>
		</div>
	</div>
	<div class="row align-self-center h-50">
		<div class="col">
			<h4>Place your cube in the grippers...</h4>
		</div>
	</div>
	<div class="row align-self-center>
		<div class="col">
			<a class="btn btn-success" href="scan.html">Scan</a>
		</div>
	</div>
	<div class="row align-self-left>
		<div class="col">
			<a class="btn btn-secondary" href="settings.html">Settings</a>
		</div>
	</div>
</div>
{% endblock %}